{% extends 'index.html' %}

{% block body %}
<div class="card shadow p-4 mb-4" style="background-color:#EBEDEF;">
    <h4 class="card-title">Welcome to Image Processing Web App</h4>
    <p class="card-text">
        <strong>by Anurodh Pancholi😉</strong>
        <ul>
           This web application is designed to classify images using a machine learning pipeline built with Python, Flask, and scikit-learn. Users can upload an image, which is then processed through feature extraction and prediction models to identify the most likely categories. The goal of this project is to demonstrate the power of computer vision and machine learning in a simple, interactive interface. The application uses Histogram of Oriented Gradients (HOG) for feature extraction and a trained SGD classifier for prediction, making it a lightweight and efficient tool for real-time image classification tasks.
        </ul>
    </p>
</div>
{% endblock %}
