{% comment %} {% extends 'index.html' %}

{% block body %}

<div class="container" id=myrow>
    <div class="row">
        <pre>
            Welcome to Image Processing Web App with Machine Learning Model in Flask  & Deploy in Python Anywhere
                What you will learn
                - Skimage
                - Data Pre-processing
                - Feature Extraction
                · Machine Learning Model
                - Pipeline Model
                - Flask App
                - Deploy in Python Anywhere

        </pre>
    </div>
</div>
<style>
    #myrow{
        background-color:#EBEDEF;
    }

</style>
{% endblock  %} {% endcomment %}


{% extends 'index.html' %}

{% block body %}
<div class="card shadow p-4 mb-4" style="background-color:#EBEDEF;">
    <h4 class="card-title">Welcome to Image Processing Web App</h4>
    <p class="card-text">
        <strong>What you will learn:</strong>
        <ul>
            <li>Skimage</li>
            <li>Data Pre-processing</li>
            <li>Feature Extraction</li>
            <li>Machine Learning Model</li>
            <li>Pipeline Model</li>
            <li>Flask App</li>
            <li>Deploy in PythonAnywhere</li>
        </ul>
    </p>
</div>
{% endblock %}
